<footer>
  <div class="container">
    <div>
      <a href="#">Delivery</a>
      <p>Order Products Faster Easier</p>
    </div>

    <div>
      <h3>Our Services</h3>
      <ul>
        <li><a href="#">Pricing </a></li>
        <li><a href="#">Discounts</a></li>
        <li><a href="#">Report a bug</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>

    <div>
      <h3>Our Company</h3>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Our mision</a></li>
        <li><a href="#">Get in touch</a></li>
      </ul>
    </div>

    <div>
      <h3>Community</h3>
      <ul>
        <li><a href="#">Support</a></li>
        <li><a href="#">Questions</a></li>
        <li><a href="#">Customer help</a></li>
      </ul>
    </div>
  </div>

  <p>&#169; Christian. All right reserved</p>
</footer>
